<h3>Add Comment</h3>

<%= form_for [@post, @post.comments.build ] do |f| %>
	<% if @post.errors.any? %>
		<% @post.errors.full_messages.each do | msg | %>
			<div class="alert alert-danger"><%= msg %></div>
		<% end %>
	<% end %>

	<div class="form-group">
		<%= f.label :username %>
		<%= f.text_field(:username, {:class => 'form-control'}) %>
	</div>
	<div class="form-group">
		<%= f.label :body %>
		<%= f.text_area(:body, {:class => 'form-control'}) %>
	</div>
	<div class="form-group">
		<%= f.submit('Comment', {:class => 'btn btn-primary'})  %>
	</div>
<% end %>